html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider{
   position: relative;
    width: 769px;
    height: 513px;
}
.slide2{
    height: inherit;
    position: absolute;
    width: inherit;
    background-image: url("img/London.jpg");
    background-size: contain;
}
.button{
    width: 25px;
    height: 32px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}
.button-number{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.up-button{
    top: 15px;
    left: 36px;
}
.down-button{
    top: 459px;
    left: 36px;
}
.view{
    display: inline-flex;
    position: absolute;
    width: 82px;
    top: 473px;
    left: 663px;
    align-items: center;
    justify-content: space-between;
}
.text{
    color: black;
    display: inline;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.read-button{
    top: 15px;
    left: 663px;
    cursor: pointer;
}
.main-text{
    top: 266px;
    left: 470px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.number{
    top: 280px;
    left: 600px;
    font-size: 35px;
    font-weight: 900;
}
.polygon{
    width: 100%;
    height: 100%;
    visibility: hidden;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    background-color: rgba(207, 218, 232, 0);
    transition: all ease-in-out 1s;
}
.slider:hover .polygon{
    visibility: visible;
    background-color: rgba(207, 218, 232, 0.7);
    clip-path: polygon(67% 0, 100% 0, 100% 100%, 55% 100%);
}

